:root {
   --hover: #f1f3f4;
   --black: #202124;
   --gray: #616161;
   --gray-bold: #5f6368;
   --orange: #BF5700;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*:before, *:after {
   box-sizing: border-box;
}

html {
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
}

body {
   font-size: 100%;
   font-family: 'Google Sans', Roboto, sans-serif;
   letter-spacing: .01428571em;
}

img, video {
   max-width: 100%;
}

a {
   text-decoration: none;
   cursor: pointer;
}

button {
   border: none;
   outline: none;
   background: transparent;
   cursor: pointer;
}

ul {
   list-style: none;
}

.icon-btn {
   width: 2.75rem;
   height: 2.75rem;
   border-radius: 50%;
   background: transparent;
   color: var(--gray);
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.icon-btn:hover {
   background: var(--hover);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
   padding: .5rem .75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 3;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

header aside {
   display: flex;
   align-items: center;
}

.brand {
   display: flex;
   align-items: center;
   margin-left: .5rem;
   margin-right: .5rem;
}

.brand .logo {
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   display: flex;
}

.brand span {
   margin-left: .75rem;
   color: var(--black);
   font-size: 1.125rem;
}

.brand:hover span {
   text-decoration: underline;
}

.search-field {
   display: flex;
   align-items: center;
   flex-basis: 50%;
   max-width: 50%;
   margin: 0 auto;
   position: relative;
   background: var(--hover);
   border-radius: .5rem;
   height: 3rem;
}

.search-field label {
   display: none;
}

.search-field .material-icons-outlined {
   position: absolute;
   z-index: 2;
   top: 50%;
   transform: translateY(-50%);
   right: .75rem;
   width: 2.25rem;
   height: 2.25rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.375rem;
   color: var(--gray-bold);
}

.search-field .material-icons-outlined:hover {
   background: #ccc;
}

.search-field input {
   width: 100%;
   background: var(--hover);
   border: none;
   outline: none;
   border-radius: .5rem;
   font-size: 1rem;
   padding: .75rem 1.25rem;
}

.cta {
   margin-right: .5rem;
   display: flex;
   align-items: center;
   gap: .25rem;
}

.cta .icon-btn:nth-child(1) {
   color: var(--orange);
}

.avatar {
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   display: flex;
   margin-left: .25rem;
}

nav {
   background: #fff;
   position: fixed;
   max-width: 15rem;
   width: 100%;
   height: 100vh;
   transition: all 0.375s ease;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   z-index: 2;
   left: -15rem;
   top: 3rem;
   box-shadow: 0 0 0 rgb(0 0 0 / 0%);
}

nav ul {
   line-height: 2.75rem;
   padding-top: 1.5rem;
   padding-bottom: 3rem;
}

nav a {
   display: block;
   color: var(--black);
   font-size: 1rem;
   font-weight: 400;
   padding-left: 1.5rem;
   position: relative;
}

nav .material-icons-outlined {
   color: var(--gray-bold);
   opacity: .8;
   font-size: 1.25rem;
   display: inline-block;
   vertical-align: middle;
}

nav a:hover {
   background: var(--hover);
   color: var(--black);
   border-radius: 0 1.5rem 1.5rem 0;
}

nav a.active {
   background: rgba(191,87,0,.12);
   color: var(--orange);
   border-radius: 0 1.5rem 1.5rem 0;
}

nav a.active .material-icons-outlined {
   color: var(--orange);
}

nav a .item {
   margin-left: 1rem;
   display: inline-block;
   vertical-align: middle;
}

nav hr {
   border: 0;
   border-bottom: 1px solid rgb(241, 237, 237);
   margin: .5rem 0;
   width: 100%;
}

nav.expanded {
   left: 0;
   box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

main {
   top: 3rem;
   z-index: 1;
   position: relative;
   transition: all 0.375s ease;
   padding: 0 1rem;
}

nav.expanded + main {
   margin-left: 15rem;
}

.hero {
   width: 100%;
   padding-top: 1.75rem;
}

.hero img {
   width: 100%;
   display: flex;
   border-radius: .5rem;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(14.625rem, 1fr));
   grid-column-gap: .75rem;
   grid-row-gap: 1.25rem;
   margin-top: .75rem;
}

.card {
   width: 100%;
   transition: .2s ease;
}

.card:hover {
   scale: 1.045;
}

.card-media img {
   width: 100%;
   border-radius: .325rem;
   display: flex;
}

.card-body {
   align-items: flex-start;
   margin-top: .75rem;
   display: flex;
}

.card-body img {
   width: 2rem;
   margin-right: .625rem;
   border-radius: 50%;
}

.card-details h3 {
   color: var(--black);
   font-size: .875rem;
   font-weight: 500;
   line-height: calc(.8125rem + 6px);
   margin-bottom: .25rem;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: normal;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   word-break: break-word;
}

.card-details p {
   color: var(--gray-bold);
   font-weight: 400;
   font-size: .8125rem;
}

.card-details p:nth-of-type(1) {
   margin-bottom: .125rem;
}

@media (max-width: 768px) {
   .brand, .search-field {
      display: none;
   }

   nav.expanded + main {
      margin-left: 0;
   }

   .hero {
      padding-top: 1.75rem;
   }
}

@media (max-width: 992px) {
   .brand .logo {
      display: flex;
   }
   
   .brand span {
      display: none;
   }

   .search-field {
      max-width: 65%;
      flex-basis: 65%;
      width: 100%;
   }

   nav.expanded + main {
      margin-left: 0;
   }
}
