:root {
   --hover: #f1f3f4;
   --black: #202124;
   --gray: #616161;
   --gray-bold: #5f6368;
   --orange: #BF5700;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*:before, *:after {
   box-sizing: border-box;
}

html {
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
}

body {
   font-size: 100%;
   font-family: 'Google Sans', sans-serif;
   letter-spacing: .01428571em;
}

img, video {
   max-width: 100%;
}

svg {
   font-feature-settings: liga;
   font-weight: normal;
   font-style: normal;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: liga;
   -webkit-font-smoothing: antialiased;
}

a {
   text-decoration: none;
   cursor: pointer;
}

button {
   border: none;
   outline: none;
   background: transparent;
   cursor: pointer;
}

ul {
   list-style: none;
}

.icon-btn {
   width: 2.75rem;
   height: 2.75rem;
   border-radius: 50%;
   background: transparent;
   color: var(--gray);
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.icon-btn svg {
   fill: var(--gray);
}

.icon-btn:hover {
   background: var(--hover);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
   padding: .5rem .75rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 3;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

header aside {
   display: flex;
   align-items: center;
}

.brand {
   display: flex;
   align-items: center;
   margin-left: .5rem;
   margin-right: .5rem;
}

.brand .logo {
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   display: flex;
}

.brand span {
   margin-left: .75rem;
   color: var(--black);
   font-size: 1.125rem;
}

.brand:hover span {
   text-decoration: underline;
}

.search-field {
   display: flex;
   align-items: center;
   flex-basis: 50%;
   max-width: 50%;
   margin: 0 auto;
   position: relative;
   background: var(--hover);
   border-radius: .5rem;
   height: 3rem;
}

.search-field label {
   display: none;
}

.search-field button {
   position: absolute;
   z-index: 2;
   top: 50%;
   transform: translateY(-50%);
   right: .75rem;
   width: 2.25rem;
   height: 2.25rem;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   
   fill: var(--gray-bold);
}

.search-field button:hover {
   background: #ccc;
}

.search-field input {
   width: 100%;
   background: var(--hover);
   border: none;
   outline: none;
   border-radius: .5rem;
   font-size: 1rem;
   padding: .75rem 1.25rem;
}

.cta {
   margin-right: .5rem;
   display: flex;
   align-items: center;
   gap: .25rem;
}

.cta .icon-btn:nth-child(1) svg {
   fill: var(--orange);
}

.avatar {
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   display: flex;
   margin-left: .25rem;
}

nav {
   background: #fff;
   position: fixed;
   max-width: 15rem;
   width: 100%;
   height: 100vh;
   transition: all 0.375s ease;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   z-index: 2;
   left: -15rem;
   top: 3rem;
   box-shadow: 0 0 0 rgb(0 0 0 / 0%);
}

nav ul {
   line-height: 2.625rem;
   padding-top: 1.5rem;
   padding-bottom: 3rem;
}

nav a {
   display: block;
   color: var(--black);
   font-size: .875rem;
   font-weight: 400;
   padding-left: 1.5rem;
   position: relative;
}

nav svg {
   fill: var(--gray-bold);
   opacity: .8;
   font-size: 1.375rem;
   display: inline-block;
   vertical-align: middle;
}

nav li:hover a {
   background: var(--hover);
   color: var(--black);
   border-radius: 0 1.5rem 1.5rem 0;
}

nav li.active a {
   background: rgba(191, 87, 0, .12);
   color: var(--orange);
   border-radius: 0 1.5rem 1.5rem 0;
}

nav li.active svg {
   fill: var(--orange);
}

nav a .item {
   margin-left: 1rem;
   display: inline-block;
   vertical-align: middle;
}

hr {
   border: 0;
   border-bottom: 1px solid rgb(241, 237, 237);
   margin: .5rem 0;
   width: 100%;
}

nav.expanded {
   left: 0;
   box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

main {
   top: 3rem;
   z-index: 1;
   position: relative;
   transition: all 0.375s ease;
   padding: 0 1rem;
}

nav.expanded+main {
   margin-left: 15rem;
}

.hero {
   width: 100%;
   padding-top: 1.75rem;
}

.hero img {
   width: 100%;
   display: flex;
   border-radius: .25rem;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(14.625rem, 1fr));
   grid-column-gap: .75rem;
   grid-row-gap: 1.25rem;
   margin-top: .75rem;
}

.card {
   width: 100%;
   transition: .2s ease;
}

.card:hover {
   scale: 1.045;
}

.card-media img {
   width: 100%;
   border-radius: .25rem;
   display: flex;
}

.card-body {
   align-items: flex-start;
   margin-top: .75rem;
   display: flex;
}

.card-body img {
   width: 2rem;
   margin-right: .625rem;
   border-radius: 50%;
}

.card-details h3 {
   color: var(--black);
   font-size: .875rem;
   font-weight: 500;
   line-height: calc(.8125rem + 6px);
   margin-bottom: .25rem;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: normal;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   word-break: break-word;
}

.card-details p {
   color: var(--gray-bold);
   font-weight: 400;
   font-size: .8125rem;
}

.card-details p:nth-of-type(1) {
   margin-bottom: .125rem;
}

main {
   top: 3rem;
   z-index: 1;
   position: relative;
   transition: all 0.375s ease;
   padding: 0 1rem;
}

article {
   display: flex;
   justify-content: space-between;
   gap: .75rem;
   margin-top: 1.75rem;
}

.video-container {
   display: flex;
   flex-direction: column;
   flex-basis: 70%;
   max-width: 70%;
}

.video-footer {
   margin-top: .5rem;
}

.video-tags {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: .75rem;
   margin-bottom: .75rem;
}

.video-tags li {
   color: var(--orange);
   font-size: .875rem;
   font-weight: 500;
   letter-spacing: .03rem;
}

.video-details {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding-bottom: 1rem;
   border-bottom: 1px solid rgb(241, 237, 237);
}

.video-details h1 {
   font-size: 1.25rem;
   font-weight: 500;
   color: var(--black);
}

.video-details p {
   font-size: .875rem;
   color: var(--gray);
}

.video-cta-buttons {
   display: flex;
   align-items: center;
   gap: .875rem;
}

.video-cta-buttons button {
   display: flex;
   align-items: center;
   gap: .25rem;
}

.video-cta-buttons button svg {
   fill: var(--gray);
}

.publisher {
   display: flex;
   align-items: flex-start;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid rgb(241, 237, 237);
}

.publisher img {
   width: 2.5rem;
   border-radius: 50%;
   margin-right: .5rem;
}

.publisher h4 {
   font-size: 1.125rem;
   color: var(--black);
   font-weight: 400;
}

.publisher p {
   font-size: .875rem;
   color: var(--gray);
}

.publisher button {
   margin-left: auto;
   background: var(--orange);
   color: #fff;
   display: inline-block;
   padding: .5rem 1.5rem;
   border-radius: .325rem;
   font-size: .875rem;
   text-transform: uppercase;
   letter-spacing: .03rem;
}

.comments {
   padding: 1rem 0 1rem 3rem;
   border-bottom: 1px solid rgb(241, 237, 237);
}

.comments h5 {
   font-size: .875rem;
   color: var(--gray);
   font-weight: 500;
   margin-bottom: 1rem;
}

.comment {
   display: flex;
   margin-bottom: 2rem;
}

.comment:last-of-type {
   margin-bottom: .5rem;
}

.comment img {
   width: 2.25rem;
   height: 2.25rem;
   border-radius: 50%;
   margin-right: .5rem;
   display: flex;
}

.comment label {
   display: none;
}

.comment input {
   border: 0;
   outline: 0;
   border-bottom: 1px solid #ccc;
   width: 100%;
   background: transparent;
}

.comment h5 {
   font-size: .85rem;
   color: var(--black);
   font-weight: 500;
   margin-bottom: .25rem;
}

.comment h5 span {
   font-weight: 500;
   color: var(--gray);
   margin-left: .5rem;
   font-size: .8125rem;
}

.comment p {
   font-size: .8125rem;
   color: var(--gray);
   font-weight: 400;
   line-height: 1.5;
}

.related-videos {
   display: flex;
   flex-direction: column;
   flex-basis: 30%;
   max-width: 30%;
}

.related-video {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-bottom: .75rem;
   gap: .625rem;
}

.related-video-thumbnail {
   flex-basis: 45%;
   max-width: 45%;
   display: flex;
   width: 100%;
}

.related-video-details {
   flex-basis: 54%;
   max-width: 54%;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.related-video-details h3 {
   color: var(--black);
   font-size: .875rem;
   font-weight: 500;
   line-height: calc(.8125rem + 6px);
   margin-bottom: .25rem;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: normal;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   word-break: break-word;
}

.related-video-details p {
   color: var(--gray-bold);
   font-weight: 400;
   font-size: .875rem;
}

@media (max-width: 768px) {
   header {
      padding: .5rem .25rem;
   }
   .brand, .search-field {
      display: none;
   }
   nav.expanded+main {
      margin-left: 0;
   }
   main {
      padding: 0 .75rem;
   }
   .hero {
      padding-top: 1.75rem;
   }
   article {
      flex-wrap: wrap;
   }
   .video-container {
      max-width: 100%;
      flex-basis: 100%;
   }
   .video-details {
      flex-wrap: wrap;
   }
   .video-cta-buttons {
      margin-top: .5rem;
   }
   .comments {
      padding: 1rem 0;
   }
   .related-videos {
      max-width: 100%;
      flex-basis: 100%;
   }
}

@media (max-width: 992px) {
   .brand .logo {
      display: flex;
   }
   .brand span {
      display: none;
   }
   .search-field {
      max-width: 65%;
      flex-basis: 65%;
      width: 100%;
   }
   nav.expanded+main {
      margin-left: 0;
   }
   main {
      padding: 0 .75rem;
   }
   article {
      flex-wrap: wrap;
   }
   .video-container {
      max-width: 100%;
      flex-basis: 100%;
   }
   .comments {
      padding: 1rem 0;
   }
   .related-videos {
      max-width: 100%;
      flex-basis: 100%
   }
}